<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Tp Libre</title>
</h:head>
<h:body>
	<h2>Projet exemple JSF</h2>
	<h3>Stack technique : </h3>
	<ul>
		<li>FrontEnd : HTML / JSF</li>
		<li>BackEnd : JEE 7 API : JSF, EJB, JPA 2 (voir dans le pom.xml en "provided" car les jars sont fournis par Wildfly 18</li>
		<li>Persistance : Hibernate 5 (fourni par Wildfly 18)</li>
	</ul>
	
	<h3>Liens</h3>
	<h:form id="navigation">
	<ul>
	</ul>
	</h:form>
	
</h:body>
</html>